::-webkit-calendar-picker-indicator {
    filter: invert(100%) hue-rotate(180deg) contrast(90%) !important;
}

:root {
    --darkreader-neutral-background: #131516;
    --darkreader-neutral-text: #d8d4cf;
    --darkreader-selection-background: #004daa;
    --darkreader-selection-text: #e8e6e3;
}

:root {
}

html {
    background-color: rgb(24, 26, 27) !important;
}

html {
    color-scheme: dark !important;
}

html, body, input, textarea, button {
    background-color: rgb(24, 26, 27);
}

html, body, input, textarea, button {
    border-color: rgb(115, 107, 94);
    color: rgb(232, 230, 227);
}

a {
    color: rgb(51, 145, 255);
}

input:-webkit-autofill, textarea:-webkit-autofill {
    background-color: rgb(64, 68, 0) !important;
    color: rgb(232, 230, 227) !important;
}

::-webkit-scrollbar {
    background-color: rgb(32, 35, 36);
    color: rgb(171, 164, 153);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(69, 74, 77);
}

    ::-webkit-scrollbar-thumb:hover {
        background-color: rgb(87, 94, 98);
    }

    ::-webkit-scrollbar-thumb:active {
        background-color: rgb(72, 78, 81);
    }

::-webkit-scrollbar-corner {
    background-color: rgb(24, 26, 27);
}

::selection {
    background-color: rgb(0, 77, 170) !important;
    color: rgb(232, 230, 227) !important;
}

:root {
    --bs-blue: #1e30f3;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #e21e80;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #1e30f3;
    --bs-secondary: #e21e80;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --darkreader-bg--bs-primary-rgb: 10, 24, 183;
    --darkreader-text--bs-primary-rgb: 49, 126, 244;
    --darkreader-border--bs-primary-rgb: 9, 22, 164;
    --darkreader-bg--bs-secondary-rgb: 180, 23, 102;
    --darkreader-text--bs-secondary-rgb: 229, 52, 141;
    --darkreader-border--bs-secondary-rgb: 158, 20, 89;
    --darkreader-bg--bs-success-rgb: 20, 108, 67;
    --darkreader-text--bs-success-rgb: 117, 230, 178;
    --darkreader-border--bs-success-rgb: 32, 175, 109;
    --darkreader-bg--bs-info-rgb: 10, 162, 192;
    --darkreader-text--bs-info-rgb: 39, 209, 243;
    --darkreader-border--bs-info-rgb: 9, 143, 170;
    --darkreader-bg--bs-warning-rgb: 150, 112, 0;
    --darkreader-text--bs-warning-rgb: 255, 199, 30;
    --darkreader-border--bs-warning-rgb: 176, 132, 0;
    --darkreader-bg--bs-danger-rgb: 165, 29, 42;
    --darkreader-text--bs-danger-rgb: 223, 70, 85;
    --darkreader-border--bs-danger-rgb: 148, 26, 37;
    --darkreader-bg--bs-light-rgb: 27, 30, 31;
    --darkreader-text--bs-light-rgb: 228, 226, 222;
    --darkreader-border--bs-light-rgb: 50, 54, 56;
    --darkreader-bg--bs-dark-rgb: 28, 30, 31;
    --darkreader-text--bs-dark-rgb: 209, 205, 199;
    --darkreader-border--bs-dark-rgb: 128, 119, 105;
    --darkreader-bg--bs-white-rgb: 24, 26, 27;
    --darkreader-text--bs-white-rgb: 232, 230, 227;
    --darkreader-border--bs-white-rgb: 48, 52, 54;
    --darkreader-bg--bs-black-rgb: 0, 0, 0;
    --darkreader-text--bs-black-rgb: 232, 230, 227;
    --darkreader-text--bs-body-color-rgb: 209, 205, 199;
    --darkreader-bg--bs-body-bg-rgb: 24, 26, 27;
    --bs-font-sans-serif: "Plus Jakarta Sans";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --darkreader-bgimg--bs-gradient: linear-gradient(180deg, rgba(24, 26, 27, 0.15), rgba(24, 26, 27, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --darkreader-bg--bs-body-color: #1c1e1f;
    --darkreader-text--bs-body-color: #d1cdc7;
    --darkreader-bg--bs-body-bg: #181a1b;
    --darkreader-text--bs-body-bg: #e8e6e3;
    --darkreader-border--bs-border-width: 1px;
    --darkreader-border--bs-border-style: solid;
    --darkreader-bg--bs-border-color: #282c2d;
    --darkreader-border--bs-border-color: #383d3f;
    --darkreader-border--bs-border-color-translucent: rgba(140, 130, 115, 0.17);
    --darkreader-border--bs-border-radius: 0.375rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --darkreader-text--bs-link-color: #317ef4;
    --darkreader-text--bs-link-hover-color: #5d95eb;
    --darkreader-text--bs-code-color: #e5348d;
    --darkreader-bg--bs-highlight-bg: #3d2e00;
}

body {
    color: var(--darkreader-text--bs-body-color);
    background-color: var(--darkreader-bg--bs-body-bg);
    -webkit-tap-highlight-color: rgba(232, 230, 227, 0);
}

a {
    color: var(--darkreader-text--bs-link-color);
    text-decoration-color: initial;
}

    a:hover {
        color: var(--darkreader-text--bs-link-hover-color);
    }

button:focus:not(:focus-visible) {
    outline-color: initial;
}

iframe {
    border-color: initial;
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

.gx-5 {
    --bs-gutter-x: 3rem;
}

.form-control {
    color: rgb(209, 205, 199);
    background-color: rgb(24, 26, 27);
    border-color: rgb(60, 65, 68);
}

    .form-control:focus {
        color: rgb(209, 205, 199);
        background-color: rgb(24, 26, 27);
        border-color: rgb(7, 17, 130);
        outline-color: initial;
        box-shadow: rgba(10, 24, 183, 0.25) 0px 0px 0px 0.25rem;
    }

    .form-control:disabled {
        background-color: rgb(35, 38, 39);
    }

    .form-control::file-selector-button {
        color: rgb(209, 205, 199);
        background-color: rgb(35, 38, 39);
        border-color: inherit;
    }

    .form-control:hover:not(:disabled):not([readonly])::file-selector-button {
        background-color: rgb(42, 45, 47);
    }

.form-floating > label {
    border-color: transparent;
}

.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --darkreader-text--bs-btn-color: #d1cdc7;
    --darkreader-bg--bs-btn-bg: rgba(0, 0, 0, 0);
    --darkreader-border--bs-btn-border-width: 1px;
    --darkreader-border--bs-btn-border-color: rgba(140, 130, 115, 0);
    --bs-btn-border-radius: 0.375rem;
    --darkreader-border--bs-btn-hover-border-color: rgba(140, 130, 115, 0);
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --darkreader-bg--bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--darkreader-bg--bs-btn-focus-shadow-rgb), .5);
    color: var(--darkreader-text--bs-btn-color);
    text-decoration-color: initial;
    background-color: var(--darkreader-bg--bs-btn-bg);
    border: var(--darkreader-border--bs-btn-border-width) solid var(--darkreader-border--bs-btn-border-color);
}

    .btn:hover {
        color: var(--darkreader-text--bs-btn-hover-color);
        background-color: var(--darkreader-bg--bs-btn-hover-bg);
        border-color: var(--darkreader-border--bs-btn-hover-border-color);
    }

    .btn:focus-visible {
        color: var(--darkreader-text--bs-btn-hover-color);
        background-color: var(--darkreader-bg--bs-btn-hover-bg);
        outline-color: initial;
        box-shadow: var(--darkreader-bg--bs-btn-focus-box-shadow);
        border-color: var(--darkreader-border--bs-btn-hover-border-color);
    }

.btn-check:focus-visible + .btn {
    outline-color: initial;
    box-shadow: var(--darkreader-bg--bs-btn-focus-box-shadow);
    border-color: var(--darkreader-border--bs-btn-hover-border-color);
}

:not(.btn-check) + .btn:active, .btn:first-child:active {
    color: var(--darkreader-text--bs-btn-active-color);
    background-color: var(--darkreader-bg--bs-btn-active-bg);
    border-color: var(--darkreader-border--bs-btn-active-border-color);
}

    .btn-check:checked + .btn:focus-visible, :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible, .btn.show:focus-visible {
        box-shadow: var(--darkreader-bg--bs-btn-focus-box-shadow);
    }

.btn:disabled {
    color: var(--darkreader-text--bs-btn-disabled-color);
    background-color: var(--darkreader-bg--bs-btn-disabled-bg);
    border-color: var(--darkreader-border--bs-btn-disabled-border-color);
}

.btn-primary {
    --darkreader-text--bs-btn-color: #e8e6e3;
    --darkreader-bg--bs-btn-bg: #0a18b7;
    --darkreader-border--bs-btn-border-color: #0916a4;
    --darkreader-text--bs-btn-hover-color: #e8e6e3;
    --darkreader-bg--bs-btn-hover-bg: #1521a6;
    --darkreader-border--bs-btn-hover-border-color: #1521a9;
    --darkreader-bg--bs-btn-focus-shadow-rgb: 9, 21, 163;
    --darkreader-text--bs-btn-active-color: #e8e6e3;
    --darkreader-bg--bs-btn-active-bg: #131e9b;
    --darkreader-border--bs-btn-active-border-color: #1622ac;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --darkreader-text--bs-btn-disabled-color: #e8e6e3;
    --darkreader-bg--bs-btn-disabled-bg: #0a18b7;
    --darkreader-border--bs-btn-disabled-border-color: #0916a4;
}

.btn-link:focus-visible {
    color: var(--darkreader-text--bs-btn-color);
}

.btn-lg {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-border-radius: 0.5rem;
}

.nav-link {
    color: var(--darkreader-text--bs-nav-link-color);
    text-decoration-color: initial;
}

    .nav-link:hover, .nav-link:focus {
        color: var(--darkreader-text--bs-nav-link-hover-color);
    }

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0.5rem;
    --darkreader-text--bs-navbar-color: rgba(232, 230, 227, 0.55);
    --darkreader-text--bs-navbar-hover-color: rgba(232, 230, 227, 0.7);
    --darkreader-text--bs-navbar-disabled-color: rgba(232, 230, 227, 0.3);
    --darkreader-text--bs-navbar-active-color: rgba(232, 230, 227, 0.9);
    --bs-navbar-brand-padding-y: 0.3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --darkreader-text--bs-navbar-brand-color: rgba(232, 230, 227, 0.9);
    --darkreader-text--bs-navbar-brand-hover-color: rgba(232, 230, 227, 0.9);
    --bs-navbar-nav-link-padding-x: 0.5rem;
    --bs-navbar-toggler-padding-y: 0.25rem;
    --bs-navbar-toggler-padding-x: 0.75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --darkreader-bgimg--bs-navbar-toggler-icon-bg: url("blob:https://icehub82.github.io/791a2953-6784-4b0c-bcd4-b9efac9bd4a1");
    --darkreader-border--bs-navbar-toggler-border-color: rgba(140, 130, 115, 0.1);
    --bs-navbar-toggler-border-radius: 0.375rem;
    --darkreader-bg--bs-navbar-toggler-focus-width: 0.25rem;
    --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
}

.navbar-brand {
    color: var(--darkreader-text--bs-navbar-brand-color);
    text-decoration-color: initial;
}

    .navbar-brand:hover, .navbar-brand:focus {
        color: var(--darkreader-text--bs-navbar-brand-hover-color);
    }

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --darkreader-text--bs-nav-link-color: var(--darkreader-text--bs-navbar-color);
    --darkreader-text--bs-nav-link-hover-color: var(--darkreader-text--bs-navbar-hover-color);
    --darkreader-text--bs-nav-link-disabled-color: var(--darkreader-text--bs-navbar-disabled-color);
    list-style-image: initial;
}

.navbar-toggler {
    color: var(--darkreader-text--bs-navbar-color);
    background-color: transparent;
    border: var(--darkreader-border--bs-border-width) solid var(--darkreader-border--bs-navbar-toggler-border-color);
}

    .navbar-toggler:hover {
        text-decoration-color: initial;
    }

    .navbar-toggler:focus {
        text-decoration-color: initial;
        outline-color: initial;
        box-shadow: 0 0 0 var(--darkreader-bg--bs-navbar-toggler-focus-width);
    }

.navbar-toggler-icon {
    background-image: var(--darkreader-bgimg--bs-navbar-toggler-icon-bg);
}

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --darkreader-border--bs-card-border-width: 1px;
    --darkreader-border--bs-card-border-color: var(--darkreader-border--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --darkreader-border--bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --darkreader-bg--bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --darkreader-bg--bs-card-bg: #181a1b;
    --darkreader-border--bs-card-bg: #303436;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    background-color: var(--darkreader-bg--bs-card-bg);
    border: var(--darkreader-border--bs-card-border-width) solid var(--darkreader-border--bs-card-border-color);
}

.card-body {
    color: var(--darkreader-text--bs-card-color);
}

.badge {
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --darkreader-text--bs-badge-color: #e8e6e3;
    --bs-badge-border-radius: 0.375rem;
    color: var(--darkreader-text--bs-badge-color);
}

.visually-hidden-focusable:not(:focus):not(:focus-within) {
    border-color: initial !important;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0.5rem 1rem !important;
}

.shadow-none {
    box-shadow: none !important;
}

.border-0 {
    border-color: initial !important;
}

.text-primary {
    --darkreader-text--bs-text-opacity: 1;
    color: rgb(49, 126, 244) !important;
}

.text-secondary {
    --darkreader-text--bs-text-opacity: 1;
    color: rgb(229, 52, 141) !important;
}

.text-white {
    --darkreader-text--bs-text-opacity: 1;
    color: rgb(232, 230, 227) !important;
}

.text-muted {
    --darkreader-text--bs-text-opacity: 1;
    color: rgb(158, 150, 137) !important;
}

.bg-primary {
    --darkreader-bg--bs-bg-opacity: 1;
    background-color: rgb(10, 24, 183) !important;
}

.bg-light {
    --darkreader-bg--bs-bg-opacity: 1;
    background-color: rgb(27, 30, 31) !important;
}

.bg-white {
    --darkreader-bg--bs-bg-opacity: 1;
    background-color: rgb(24, 26, 27) !important;
}

.bg-gradient-primary-to-secondary {
    background-image: linear-gradient(135deg, rgb(10, 24, 183) 0%, rgb(180, 23, 102) 100%);
    background-color: initial;
}

.text-gradient {
    background-image: -webkit-linear-gradient(315deg, rgb(10, 24, 183) 0%, rgb(180, 23, 102) 100%);
    background-color: initial;
    -webkit-text-fill-color: transparent;
}

.profile .dots-1 svg {
    fill: rgb(232, 230, 227);
}

.profile .dots-2 svg {
    fill: rgb(49, 126, 244);
}

.profile .dots-3 svg {
    fill: rgb(232, 230, 227);
}

.profile .dots-4 svg {
    fill: rgb(49, 126, 244);
}

.profile .dots-1 svg {
    fill: rgb(232, 230, 227);
}

.profile .dots-2 svg {
    fill: rgb(49, 126, 244);
}

.profile .dots-3 svg {
    fill: rgb(232, 230, 227);
}

.profile .dots-4 svg {
    fill: rgb(49, 126, 244);
}

#blazor-error-ui {
    background-image: initial;
    background-color: rgb(52, 52, 0);
    box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 2px;
}